<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      
      <p align="center">
        <img src="name_en.svg" />
      </p>
      
      <p>
        <br/>I am an <a href="https://shanghai.nyu.edu/academics/faculty/directory/sukjoon-lee">Assistant Professor of Economics</a> at <a href="https://shanghai.nyu.edu">NYU Shanghai</a>.
        My research interests include macroeconomics, monetary economics, and financial economics.
        My recent CV is available <a href="https://sukjoonlee.github.io/uploads/cv-sukjoon_lee-221231.pdf">here</a>.
        I can be reached at <a href="mailto:sukjoon.lee@nyu.edu">sukjoon.lee@nyu.edu</a>.<br/><br/>
        
        We, NYU Shanghai, seek to provide students with a strong, globally-oriented foundation in the liberal arts and sciences.
        My teaching statement can be found <a href="https://">here</a>.<br/><br/>
      </p>
      
      <h2>
        Working Papers
      </h2>
      
      <p>
        <a href="https://sukjoonlee.github.io/uploads/sukjoon_lee-paper.pdf">Liquidity Premium, Credit Costs, and Optimal Monetary Policy</a><br/><br/>
      </p>
      
      <h2>
        Publications
      </h2>
      
      <p>
        <a href="https://doi.org/10.1086/722225">Asset Safety versus Asset Liquidity</a><br/>
        with Athanasios Geromichalos and Lucas Herrenbrueck<br/>
        <em>Accepted at the Journal of Political Economy</em><br/><br/>
        
        <a href="https://doi.org/10.1016/j.red.2022.08.003">The Strategic Determination of the Supply of Liquid Assets</a><br/>
        with Athanasios Geromichalos and Lucas Herrenbrueck<br/>
        <em>Accepted at the Review of Economic Dynamics</em><br/><br/>
      </p>
      
      <h2>
        Work in Progress
      </h2>
      
      <p>
        The Effects of Financial Fragility on the Labor Market<br/>
        with Miroslav Gabrovski, Athanasios Geromichalos, Lucas Herrenbrueck, and Ioannis Kospentaris<br/><br/>
        
        Recessions and R&D Dynamics<br/><br/>
      </p>
      
      <p>
        <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
      </p>
      
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
